[Unit]
Description=Start usb mass storage gadget
After=dev-mmcblk0p1.device

[Service]
RemainAfterExit=yes
ExecStart=/sbin/modprobe g_mass_storage file=/dev/mmcblk0p1 cdrom=0 stall=0 removable=1 nofua=1
ExecStop=/sbin/rmmod g_mass_storage

[Install]
WantedBy=basic.target
